{% extends 'base.html.twig' %}

{% block title %}Recrutement
{% endblock %}

{% block body %}

	<link rel="stylesheet" href="{{ asset('css/recrutement.css')}}">

	<div class="container mt-5 pt-5 text-center">
		<h1>Trouvez le job de vos rêves !</h1>


		{#
										<div class="container mt-5 pt-5 col-sm-3 text-center">
										
											<h5>Filtrer par type d'offre</h5>
											{{form(form)}}
											</div>
											<div class="container mt-5 pt-5 col-sm- text-center">
											#}

		{% for offre in recrutement %}
			{#<a href="#">#}
			<div class='offre-card'>
				<h4>{{offre.nomOffre}}</h4>
				{#<span>{{offre.dateOffrePub}}</span>#}
				<div class="text-left">
					<span class='offre-input'>{{offre.dateOffrePub|date('d/m/Y')}}</span>
					<span class='offre-input'>{{offre.typeoffre}}</span>
					<span id="cercle"/>
					<span class='offre-input'>{{offre.lieu}}</span>
				</div>
				<div class='description-offre'>
					<span>{{offre.descriptionOffre|striptags|slice(0, 200)}}...</span>
				</div>
				<a href="{{ path ('uneOffre', {'slug' : offre.slug })}}" class="btn btn-outline-dark pull-right text-center">+ d'Infos</a>

			</div>


		{% endfor %}


	</div>
</div>{% endblock %}
