{% extends 'base.html.twig' %}

{% block title %}Espace membre - ArcheType{% endblock %}

{% block body %}
    <div class="container mt-5 pt-5">
        <h1>Espace membre</h1>
<<<<<<< HEAD
        Bienvenue {{ app.user.prenomUser }} sur votre compte !</br>

        {% if is_granted("ROLE_ADMIN") %}
          <a href="/admin">Vous êtes administrateur, accèder au backoffice? </a></br>
          {% endif %}
        <a href="{{ path('account_password') }}">Modifier mon mot de passe </a>
=======
        Bienvenue {{ app.user.prenomUser }} sur votre compte ! </br>
        <a href="{{ path('account_password') }}">Modifier mon mot de passe</a></br>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
>>>>>>> develop
    </div>

{% endblock %}
