{% extends 'base.html.twig' %}

{% block title %}Se connecter - ArcheType{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/navbarcss.css')}}">


<form method="post">

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


<div class="container pt-5 mt-5">

        <div class="col-8">
            <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
    
{#
        <div class="checkbox mb-1">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir
            </label>
        </div>
 #}

        <a class="inscription" href="{{ path('register') }}">Pas encore de compte?</a><br/>
        <button class="btn btn-lg btn-primary btn-sm my-5" type="submit">
            Connexion
        </button>
    </div>
</form>

<style>
.inscription{
    text-decoration: none;
}
</style>









{% endblock %}
