{% extends 'base.html.twig' %}

{% block title %}Publications - ArcheType{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{ asset('css/publication.css')}}">

	
	<div class="container pt-5 mt-5 text-center" >
	
			<h1>Publications</h1>
			</div>

			{% for publication in publications %}
				<div class="row">
					<div class="col-2"></div>
					<div class="col-4">
						<picture>
  						<source srcset= "{{ vich_uploader_asset(publication,'imageFile') }}" type="image/svg+xml">
						<img src="{{ vich_uploader_asset(publication,'imageFile') }} " alt"..." class="img-fluid img-thumbnail">
						</picture>
					</div>
						<div class="col-5">
							<a href="{{ path('publication_show', {'id': publication.id}) }}" class="TitrePublication">
							{{ publication.titre }}</a>
							<h6 class = " datePublication" >{{ publication.datePub ? publication.datePub|date('Y-m-d') : '' }}</h6>
							
							<div class = "content">
								{{ publication.contenuPub|striptags}} 
						</div>
							<div class="arrow col-b-5">
								<a href="{{ path('publication_show', {'id': publication.id}) }}" >
								  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewbox="0 0 16 16">
	              						  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                 				 </svg>
								</a>
							</div>
				</div>
		</div>
	
	
	{% else %}
		<tr>
			<td colspan="4">Pas de publications</td>
		</tr>
	{% endfor %}


{# display navigation #}
<div class="d-flex justify-content-center mt-5">

    {{ knp_pagination_render(publications, 'base/pagination.html.twig') }}
</div>

{% endblock %}


				
	{#					
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#exampleModalLong">
  Laisser un commentaire
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Avis</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	   <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

						{# <a href="{{ path('publication_edit', {'id': publication.id}) }}">edit</a> #}
							{# <a href="{{ path('publication_delete', {'id': publication.delete}) }}">delete</a> #}
