{% apply inline_css %}

<!DOCTYPE html PUBLIC "-//W3C//DTDXHTML1.0Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<link rel="stylesheet" href="{{ asset('css/emailpostuler.css')}}">

	</head>
	<body class="bg-light">
		<div class="container">
			<div class="card my-5">
				<div class="card-body">


					<center class="wrapper">

						<table class="main" width="100%">
							<h1>Candidature</h1>
							<table class="informations">
								<tr>
									<td>Email</td>
									<td>{{Expediteur}}</td>
								</tr>
								<td>Nom de l'Offre</td>
								<td>{{NomPoste}}</td>
							</tr>
							<tr>
								<td>Nom</td>
								<td>{{Nom}}</td>
							</tr>
							<tr>
								<td>Prenom</td>
								<td>{{Prenom}}</td>
							</tr>
							<tr>
								<td>Telephone</td>
								<td>{{Telephone}}</td>
							</tr>
							<td>Message</td>
							<td>{{Message}}</td>
						</tr>
					</table>
				</table>
			</center>
		</div>
	</body>
</html></div></body></html></div></body></html>{% endapply %}
