<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="icon" href="{{asset("/img/Icon.png") }}">
		<title>
			{% block title %}Inscription - ArcheType{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</head>

	<header>
		{% include 'base/navbar.html.twig' %}
	</header>

<body>
<div class="img-fond"

{% for flashError in app.flashes('verify_email_error') %}
	<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}

<section class="vh-100 bg-image mt-5 bt-5">
	<div class="mask d-flex align-items-center h-100 gradient-custom-3 mt-5 pb-2">
		<div class="container h-100 mt-5 mb-5">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-9 col-lg-7 col-xl-6 mt-5">
					<div class="card mb-5" style="border-radius: 15px;">
						<div class="card-body p-5">
							<h2 class="text-uppercase text-center mb-5">Créer un compte</h2>
								{{ form_start(form) }}
							<div class="form-outline mb-4">
                                {{ form_widget(form.nomUser, {'attr': {'placeholder': 'Nom',
                                'class': 'form-control form-control-lg'}}) }}
							</div>
							<div class="form-outline mb-4">
							    {{ form_widget(form.prenomUser, {'attr': {'placeholder': 'Prénom',
                                'class': 'form-control form-control-lg'}}) }}
							</div>
						    <div class="form-outline mb-4">
							    {{ form_widget(form.email, {'attr': {'placeholder': 'Email',
                                'class': 'form-control form-control-lg'}}) }}
							</div>
							<div class="form-outline mb-4">
								{{ form_widget(form.password, {'attr': {'placeholder': 'Mot de passe',
                                'class': 'form-control form-control-lg'}}) }}
							</div>
							<div class="form-outline mb-4">
								{{ form_widget(form.phone, {'attr': {'placeholder': 'Numéro de téléphone',
                                'class': 'form-control form-control-lg'}}) }}
							</div>
							<div class="form-check d-flex justify-content-center mb-5">
								{{ form_widget(form.agreeTerms, {'attr': {'class': 'form-check-input me-2'}}) }}
									&nbsp
									<a href="/cgu" class="text-body">
										<u>CGU</u>
									</a>
							</div>
							<div class="d-flex justify-content-center">
								<input type="submit" value="S'inscrire" id="btnregisterlogin" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
							</div>
								<p class="text-center text-muted mt-5 mb-0">Déjà un compte ?
								<a href="/login" class="fw-bold text-body">
									<u>Connectez-vous</u>
								</a>
								</p>
								{{ form_end(form) }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
</body>

<footer>
	{% include 'base/footer.html.twig' %}
</footer>

	<style>
		.form-check:focus{
			border:1px solid #58512e;
			box-shadow: 0 0 3px #58512e;
		}
		.form-control:focus {
			border:2px solid #58512e;
			box-shadow: 0 0 3px #58512e;
		}
		.img-fond{
			background-image: url('/img/homepage/bg.png');
			width: 100%;
		}
		.gradient-custom-4 {
			background: #58512e;
			background: linear-gradient(to right, #d6d5d2, #58512e);
		}
		.btn{
			border-style: none;
			width: 100%;
		}
		.button{
			color: white;
		}
	
		a:hover{
			color: #58512e;
		}
		.card{
			border-left-style: none;
			border-bottom-style: none;
		}
		#mdp{
			text-decoration: none;
		}



</html>
	








