{% extends 'base.html.twig' %}

{% block title %}Projets - ArcheType{% endblock %}
{% block body %}

<link rel="stylesheet" href="{{ asset('css/projet_show.css')}}">


	<div class="container pt-5 mt-5 text-center" >
			<h1>{{ projet.libelleProjet  }}</h1>
				<span>Debut projet</span> <h6>{{ projet.dateDebut ? projet.dateDebut|date('Y-m-d') : '' }}</br>
				<span>Fin projet</span> <h6>{{ projet.dateFin ? projet.dateFin|date('Y-m-d') : '' }}
		</h6>	
	


			
				<div class="row">
      			  <div class="col-3"></div>
					<div class="img-fluid">

					<img src="{{ vich_uploader_asset(projet,'imageFile') }} " alt"..." class="img-thumbnail">
			</div>
					</div>
						<div class="text-center">
							<div class = "content">
								<p> {{ projet.descriptionProjet|striptags }}</p>
							</div>
              
							<div class= "caption">
				<a href="{{ path('projets_index') }}" class="LienArrow">
					<img src= "/img/link/left-arrow.png " alt="fleche gauche" class="Arrow"/>
				</a>
						</div>
				</div>
	</div>

{% endblock %}
