{% extends 'base.html.twig' %}


{% block title %}Contact
{% endblock %}


{% block body %}

	<!doctype html>
	<html lang="fr">
		<head>
			<meta charset="utf-8">
			<link rel="stylesheet" href="{{ asset('css/contactsstyle.css')}}">

		</head>
		<body>

			<div class="container">
				<h1>
					Nous Contacter
				</h1>

				<p>Pour toute demande relative au cabinet, veuillez renseignez les champs suivants</p>

				<div class="form-group">
					{{ form_start(contacts_form) }}
					{{ form_row(contacts_form.Nom, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="form-group">
					{{ form_row(contacts_form.Email, {'attr': {'class': 'form-control'}}) }}

				</div>

				<div class="form-group">
					{{ form_row(contacts_form.Message, {'attr': {'class': 'form-control'}}) }}

				</div>

				{{ form_end(contacts_form) }}


				{#{{form(contacts_form) }}#}

			</div>
		</body>
	</html>
</body></html></body></html>{#<div class="banner-image" style="background-image: url(img/fond.png);"></div>#}{% endblock %}
